header{
    min-height: 0vh;
}


.fondo{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url('/assets/images/header_bg.svg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.seccion{
    height: 100vh;
}

.img-1{
    width: 290px;
    padding-top: 10px;
    
}

.butonsito{
   display: flex;
   padding-top: 15px;
    
}

.buton{
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    border: solid 1px #fff;
    background-color: #fff;
    width: 180px;
    height: 28px;
    text-align: start;
    padding-left: 10px;
    border-radius: 2px;
    
}

.drop-down{
    display: flex;
    justify-content: end;
    background-color: #fff;
       
        
}

.droptransparente{
    background-color: transparent; 
    border: none; 
    box-shadow: none;
}


.center-image{
    
    display: flex;
    margin-top: 111px ;
   
    width: 600px;
    height: auto;
}
.center-image-1 {
    
    background-color: rgb(225,134,25)
        ;
    display: inline-block;
    margin-top: 230px;
    margin-left: 155px;

    
}

.fondo-2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url('/assets/images/bgDarkBlue.svg');
    background-repeat: no-repeat; 
    background-size: cover;
}


.a{
    padding-top: 10px;
}
  
.bordesito{
    margin-top: 20px;
    margin-left: 400px;
    height:570px;
    width: 600px;
    border: solid 2px #4d526a;
    background-color: #4d526a;

}
  
.fonto-1{
    font-size: 30px;
    color: rgba(255,255,255,.9176470588);
    margin-top: 25px;
    text-align:center;
    width: 100%;
    line-height: 120%;
    font-weight: 400;
}

.fonto-2{
    font-size: 15px;
    color: rgba(255,255,255,.9176470588);
    padding: 5px;
    text-align:center;
    
}


.bordesito-2{
    margin-top: 20px;
    margin-left: 280px;
    height:580px;
    width: 800px;
    border: solid 2px #4d526a;
    background-color: #4d526a;

}